body {
    background-color: rgb(51, 59, 68);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputpoke {
    margin-top: 15px;
    padding: 6px;
    width: 300px;
    outline: none !important;

}


#logo {
    height: 110px;
}

#submit {
    display: block !important;
    width: 300px;
    border-radius: 0 !important;
    outline: none !important;
}

.card {
    width: 18rem !important;
    background-color:rgb(39, 40, 41) !important ;
}

.card-img-top{
    height: 160px !important;
}

#type {
    color: violet;
}

